.number-slide1,
.number-slide2,
.number-slide3,
.number-slide4,
.number-slide5,
.number-slide6 {
  background: unset;
  width: unset;
  height: unset;
  max-width: unset;
  min-width: unset;
}
.hoverr:hover .zooom {
  transform: scale(1.1);
  border-radius: 1rem !important;
}
.hoverr:hover .hover-hide {
  opacity: 1;
}
.zooom {
  transition: all 0.5s;
}
.hover-hide {
  opacity: 0;
  transition: 0.5s all;
}
.color-blue {
  color: #21275b;
}

.arrow--left {
    left: 50px;
  }
  
  .arrow--right {
    left: auto;
    right: 70px;
  }
  .arrows {
    width: 50px;
    height: 50px;
    font-size: 5rem !important;
    position: absolute;
    top: 45%;
    bottom: 0%;
    transform: translateY(-50%);
    -webkit-transform: translateY(-50%);
    fill: black;
    cursor: pointer;
    background-color: #fff;
    padding: 1rem !important;
    border-radius: 50%;
  }
.poster-100{
  padding: 1rem;
  font-size: .8rem;
}
.siz{
  height: 100%;
  width: 100%;
}

@media screen and (max-width: 768px) {
.size{
  height: 90% !important;
  width: 80% !important;
  margin: auto;
  
}
.font-respons{
padding: 0.5rem;
padding-right: 1rem;
}
  .siz2{
    width: 100%;
    height: 100% !important;
  }
  .test-x{
    width: 100% !important;
    height: 100%!important;
    font-size: .7rem;
  }
  .development-arrow-left{left: 0%;
  }
  .development-arrow-right{right: 0%;}
}
@media screen and (min-width: 769px)  {
  .size{
    height: 10% !important;
    width: 80% !important;
    margin: auto;
    
  }  
  .siz2{
    width: 50%;
    height: 10% !important;
  }
  .test-x{
    width: 90% !important;
    height: 100%!important;
    font-size: .7rem;
    margin: auto;
  }
  .development-arrow-left{left: 0%;
  }
  .development-arrow-right{right: 0%;}


}




