.bg-image {
  background-image: url("../../../public/background.png");
  background-position: 50%;
  background-size: cover;
  background-repeat: no-repeat;
}
.imgg {
  object-fit: cover;
  max-height: 18.75rem;
  height: 15.625rem;
}
.know-more {
  background-color: #21275b;
  color: #fff;
}
.same {
  cursor: pointer;
  border: none;
  border-radius: 30px;
}
.call-us {
  background-color: #fff;
  color: #21275b;
  border: 1px solid #21275b;
}
.arrow---right{
    right: 4%;
}
.arrow---left{
    left: 4%;
}
.white{
  color: #fff !important;
}
@media screen and (max-width: 768px){
  
.keen-mop{
  width: 100% !important;
}  
.mop-padding{
  padding: 0 1rem 3rem!important;
}



}